html,body{width: 100%;height: 100%;margin: 0;padding: 0;}
body:before,body:after{display: table;content: "";clear: both;}
/*
 *让页面内容不能被选中
 *否则,iOS有放大镜效果,安卓有右键弹窗
 */
body{
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
/*
 *当用户点击iOS的Safari浏览器中的链接或JavaScript的可点击的元素时，覆盖显示的高亮颜色。
*/
*{
    -webkit-tap-highlight-color:transparent;
}